<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>检测结果</title>

    <style type="text/css">
       table.report{
       width:100%;
        border-collapse:collapse;
        border: 0px solid white;
        margin-bottom: 20px;
      }
      table.item{
        width:100%;
        border-collapse:collapse;
        border: 1px solid gray;
        margin-bottom: 20px;
      }
      td.report{
        font-size: 12px;
        padding: 5px 5px;
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
      }
      th.report{
        font-size: 12px;
        padding:10px 5px;
        border-style: solid;
        border-width: 0px;
        overflow: hidden;
        border-color: white;
        color: black;
        background-color: white;
      }
      td.item{
        text-align:center;
        font-size: 12px;
        padding: 5px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
      }
      th.item{
        font-size: 12px;
        padding:10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        border-color: gray;
        color: #fff;
        background-color: #A0A0A0;
      }
      tr:nth-child(even)  { background-color:#FFFFFF; font-size: 12px;}
      tr:nth-child(odd) { background-color:#F9F9F9; font-size: 12px;}
      tr:hover {background-color: #EEEEEE;font-size: 12px;}
      * {
        font-family: Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
  <button onclick="{location.href='/savepdf'}">导出PDF</button>
  <table class="report" border="0" cellpadding="0" cellspacing="0">
    <tr><th class="report" colspan="2"><h2>开源许可证检测报告</h2></th></tr>
    <tr>
    <td class="report" width="10%" border="0">
    <canvas id="myCanvas" width="100%" height="150" style="border:0px solid #ffffff;">您的浏览器不支持 HTML5 canvas 标签。
    </canvas>
      <script>
        var canvas = document.getElementById("myCanvas");
        var ctx=canvas.getContext("2d");
        var my_gradient=ctx.createLinearGradient(0,0,0,170);
        ctx.font="15px Arial";
        
        my_gradient.addColorStop(0,"green");
        my_gradient.addColorStop(1,"white");
        ctx.fillStyle=my_gradient;
        ctx.fillRect(canvas.width/2,20,50,300);
        ctx.fillText("无风险",canvas.width/2+2,18);
        
      </script>
    </td>
    <td class="report" width="90%" border="0">
    
    软件名称:
    libjson_7.6.1<br>
    
    您的开源开软软件包含
    
    3
    种许可证，
    
    
    分别为
    
    bsd-2-clause-freebsd 3个文件，
    
    gpl 21个文件，
    
    mit 21个文件，
    
    
    
    具体请查看以下详情。
    </td>
    </tr>
  </table>
  <nav>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#Conflict"><h4>警告！点此查看详情...</h4></a></li>
        <li role="presentation"><a href="#open"><h4>如果您想基于此软件发布开源软件，点此查看详情...</h4></a></li>
        <li role="presentation"><a href="#commercial"><h4>如果您想基于此软件发布商业软件，点此查看详情...</h4></a></li>
        <li role="presentation"><a href="#cloud"><h4>如果您想基于此软件提供云服务，点此查看详情...</h4></a></li>
        <li role="presentation"><a href="#other"><h4>其他需要关注的条款，点此查看详情...</h4></a></li>
        <li role="presentation"><a href="#all"><h4>所有文件包含的版权和许可证信息，点此查看详情...</h4></a></li>
        <li role="presentation"><a href="#allLi"><h4>所有许可证相关信息，点此查看详情...</h4></a></li>
    </ul>
   </nav>
    <div id="Conflict">
    
    </div>
    
    <div id="open">
    
    </div>
    
    <div id="commercial">
    
    </div>
    
    <div id="cloud">
    
    </div>
    
    <div id="other">
    <h3>另外，以下条款您也需要关注：</h3>
    
    
    
    
    
    </div>
    
    <div id="all">
    
    <table class="item">
      <h3>所有版权和许可证信息</h3>
      <thead>
        <tr>
          <th class="item">文件路径</th>
          <th class="item">开始位置</th>
          <th class="item">结束位置</th>
          <th class="item">信息类型</th>
          <th class="item">许可证/版权详情</th>
        </tr>
      </thead>
      <tbody>
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Documentation.pdf</td>
              <td class="item">6052</td>
              <td class="item">6053</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2010, 2011 Jonathan Wallace.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Documentation.pdf</td>
              <td class="item">6053</td>
              <td class="item">6077</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_bsd-2-clause-freebsd">bsd-2-clause-freebsd</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/License.txt</td>
              <td class="item">3</td>
              <td class="item">3</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2010 Jonathan Wallace.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/License.txt</td>
              <td class="item">3</td>
              <td class="item">13</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_bsd-2-clause-freebsd">bsd-2-clause-freebsd</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/makefile</td>
              <td class="item">3</td>
              <td class="item">3</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2010 Jonathan Wallace.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/makefile</td>
              <td class="item">3</td>
              <td class="item">30</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_bsd-2-clause-freebsd">bsd-2-clause-freebsd</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidArray.h</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidNamedObject.cpp</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidNamedObject.h</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidPartialRoot.h</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidObject.h</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidObject.cpp</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidPartialRoot.cpp</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/TestSuite2/JSONValidator/isValidArray.cpp</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 StreamWIDE.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/_internal/Source/JSONPreparse.cpp</td>
              <td class="item">5</td>
              <td class="item">6</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2011 Streamwide.</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreMidnight.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreMidnight.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreMidnight.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreEmacs.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreEmacs.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreEmacs.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeEclipse.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeEclipse.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeEclipse.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCore.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCore.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCore.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeRDark.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeRDark.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeRDark.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreDefault.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreDefault.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreDefault.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreMDUltra.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreMDUltra.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreMDUltra.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreDjango.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreDjango.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreDjango.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreEclipse.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreEclipse.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreEclipse.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeDefault.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeDefault.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeDefault.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreFadeToGrey.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreFadeToGrey.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreFadeToGrey.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeFadeToGrey.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeFadeToGrey.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeFadeToGrey.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeMDUltra.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeMDUltra.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeMDUltra.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeEmacs.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeEmacs.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeEmacs.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeDjango.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeDjango.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeDjango.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreRDark.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreRDark.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shCoreRDark.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeMidnight.css</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeMidnight.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/styles/shThemeMidnight.css</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shCore.js</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shCore.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shCore.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shBrushCpp.js</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shBrushCpp.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shBrushCpp.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shBrushCpp.js</td>
              <td class="item">24</td>
              <td class="item">24</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright 2006 Shin, YoungJin</td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shAutoloader.js</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shAutoloader.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shAutoloader.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shLegacy.js</td>
              <td class="item">11</td>
              <td class="item">12</td>
              <td class="item">copyright</td>
              
                <td class="item">Copyright (c) 2004-2010 Alex Gorbatchev.</td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shLegacy.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_mit">mit</a></td>
              
            </tr>
          
            <tr>
              <td class="item">libjson_7.6.1/libjson/Getting+Started/Library+Interface/scripts/shLegacy.js</td>
              <td class="item">14</td>
              <td class="item">15</td>
              <td class="item">license</td>
              
                <td class="item"><a href="#license_gpl">gpl</a></td>
              
            </tr>
          
        
      </tbody>
    </table>
    
    </div>

    <div id="allLi">
    
    <table class="item">
      <h3>所有许可证详细信息</h3>
      <thead>
        <tr>
          <th class="item" id = "test">许可证名称</th>
          <th class="item">类型</th>
          <th class="item">许可证归属</th>
          <th class="item">官方链接</th>
        </tr>
      </thead>
      <tbody>
        
          <tr id="license_bsd-2-clause-freebsd">
            <td class="item">bsd-2-clause-freebsd</td>
            <td class="item">Permissive</td>
            <td class="item">FreeBSD</td> 
            <td class="item"><a href="http://www.freebsd.org/copyright/freebsd-license.html" target="_blank">http://www.freebsd.org/copyright/freebsd-license.html</a></td>
          </tr>
        
          <tr id="license_gpl">
            <td class="item">gpl</td>
            <td class="item">Copyleft</td>
            <td class="item">Free Software Foundation (FSF)</td> 
            <td class="item"></td>
          </tr>
        
          <tr id="license_mit">
            <td class="item">mit</td>
            <td class="item">Permissive</td>
            <td class="item">MIT</td> 
            <td class="item"><a href="http://opensource.org/licenses/mit-license.php" target="_blank">http://opensource.org/licenses/mit-license.php</a></td>
          </tr>
        
      </tbody>
    </table>
    
   </div>
  </body>
</html>