<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<script src="/static/js/jquery.min.js"></script>
	<!-- FKPageTransitions Javascript file -->
	<script src="/static/js/fkpagetransitions.min.js"></script>
	<!-- FKPageTransitions CSS file -->
	<link href="/static/css/fkpagetransitions.min.css" rel="stylesheet" />
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-select.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/bootstrap-select.min.css">
	<style type="text/css">
	    /* 基本 */
	    html, body, div, span, object, iframe,
	    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	    a, abbr, acronym, address, big, cite, code,
	    del, dfn, em, img, ins, kbd, q, samp,
	    small, strike, strong, sub, sup, tt, var,
	    b, i, dl, dt, dd, ol, ul, li,
	    fieldset, form, label, legend,
	    input,button,
	    table, caption, tbody, tfoot, thead, tr, th, td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		vertical-align: baseline;
		background: transparent;
	    }
	    .clear {width: 100%; height: 1px; clear: both; display: block; overflow: hidden;}
	    html,body{height:100%; width:100%;font-family:Helvetica,Tahoma,Arial,'Microsoft YaHei',sans-serif; background:#fff;}
	    a{ color:#51423d; text-decoration:none; }
	    body{background: #fff;}
	    body, html { padding: 0; margin: 0;overflow: hidden;}

	  
	  html, body { height: 100%; }
	  .myfkpage{text-align: center;}
	  button{background: #fff; border-radius: 5px;  padding: 5px 10px; border:1px solid #ddd;}

	    </style>
	  <link rel="stylesheet" href="/static/css/index.css">
	  <title>开源许可证检测系统</title>
</head>
<body>
    <ul class="myfkpage">
      <li style="background: #ffffff">
      </li>
      <li style="background: #ffffff">
		<div class="cd-title">
		      <img src="/static/fudan.jpg" alt="fudan">
		      <div class="panel panel-primary">
		      <div class="panel-heading">
			<h3 class="panel-title">检测许可证</h3>
		      </div>
		      <div class="panel-body">
			  <div id = "scanalert" class="alert alert-danger alert-dismissable" style="display:none;">
			   <button type="button" class="close" onclick="$('#scanalert').hide();" 
			      aria-hidden="true">
			      &times;
			   </button>
			   <span id="msg">错误提示信息</span>
			</div>
			<form id="uploadForm" action="/test" method="post" enctype="multipart/form-data">
			    <div class="input-group">
			      <span class="input-group-addon" id="basic-addon1">文件</span>
			      <input name="file1" type="file" class="form-control" aria-describedby="basic-addon1">
			    </div>
			    <p></p>
			    <div class="input-group">
			      <span class="input-group-addon" id="basic-addon2">仓库地址</span>
			      <input name="giturl" type="text" class="form-control" aria-describedby="basic-addon1">
			    </div>
			    <p></p>
			    <div class="progress">
			      <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				上传中
			      </div>
			    </div>
			    </form>
			    <div style="text-align: center;">
				<button type="button" onclick="upload()" class="btn btn-primary" autocomplete="off">
				  上传
				</button>
				<button type="button" onclick="test()" class="btn btn-primary" autocomplete="off">
				  重置
				</button>
			    </div>
		      </div>
		</div>
	   </div>
      </li>
      <li style="background: #ffffff">
	    <div class="licenses">
		<div style="text-align:left;margin-left:2px;">
		<button id="addbtn" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
		</div>
		<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h1 class="panel-title">所有许可证信息</h1>
			 </div>
		          <div style="overflow-x:hidden;overflow-y:auto;width:100%; height:80vh;">
			  <table class="table" id ="license-table">
				<tr>
				  <td>许可证名称</td>
				  <td>许可证归属</td>
		                  <td>分发强制开源</td>
		                  <td>服务提供强制开源</td>
				  <td>强制使用相同许可证</td>
				  <td>允许专利</td>
		                  <td>允许商标</td>
				  <td>修改声明</td>
		                  <td>官方链接</td>
				</tr>
			  </table>
			</div>
		       </div>
		</div>
	   </div>
      </li>
    </ul>

    <div  style="position: absolute; bottom: 0; left: 0; text-align: center; width: 100%;">
      <button onclick="first();">主页</button>
      <button onclick="second();">设置</button>
    </div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							添加许可证
						</h4>
					</div>
					<div class="modal-body">
						<div id = "addalert" class="alert alert-danger alert-dismissable" style="display:none;">
						<button type="button" class="close" onclick="$('#addalert').hide();" 
						aria-hidden="true">
						&times;
						</button>
						<span id="addmsg">错误提示信息</span>
						</div>
						<form id="addForm" action="/addlicense" method="post" enctype="multipart/form-data">
						<div class="input-group">
						<span class="input-group-addon">许可证名称</span>
						<input name="name" type="text" class="form-control" aria-describedby="basic-addon1">
						</div>
						<div class="input-group">
						<span class="input-group-addon">许可证全称</span>
						<input name="fullname" type="text" class="form-control" aria-describedby="basic-addon1">
						</div>
						<div class="input-group">
						<span class="input-group-addon">许可证归属</span>
						<input name="owner" type="text" class="form-control" aria-describedby="basic-addon1">
						</div>
						<div class="input-group">
						<span class="input-group-addon">许可证链接</span>
						<input name="ownerurl" type="text" class="form-control" aria-describedby="basic-addon1">
						</div>		
						<div class="input-group">
						<span class="input-group-addon">许可证属性</span>
						<select name="atts" id = "atts" multiple class="selectpicker show-tick form-control" title="请选择许可证属性" data-selected-text-format="count > 3">
						<option value="0">分发强制开源</option>
						<option value="1">服务提供强制开源</option>
						<option value="2">强制使用相同许可证</option>
						<option value="3">不允许专利</option>
						<option value="4">不允许商标</option>
						<option value="5">修改声明</option>
						</select>
						</div>				
						<div class="input-group">
						<span class="input-group-addon">许可证全文</span>
						<textarea name="textall" class="form-control" rows="20"></textarea>
						</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭
						</button>
						<button type="button" class="btn btn-primary" onclick="addnew()">
							提交
						</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
</body>

<script type="text/javascript">
var fkpage;
function first(){
  var tmp = fkpage.setSlideMode(34); 
  fkpage.goToSlide(1);
}
function loadData(){
$.ajax({url:"/licenses",success:function(response){
  var obj = JSON.parse(response);
  $("#license-table tr:gt(0)").remove();
  for (var i=0;i<obj.results.length;i++){
    var newRow = "<tr><td>"+obj.results[i].name+"</td><td>"+obj.results[i].owner+"</td><td>"+obj.results[i].isOS+"</td><td>"+obj.results[i].isNet+"</td><td>"+obj.results[i].isSame+"</td><td>"+obj.results[i].isNP+"</td><td>"+obj.results[i].isTM+"</td><td>"+obj.results[i].isMo+"</td><td>"+obj.results[i].url+"</td></tr>";
    $("#license-table").append(newRow);
} 
}});
}
function second(){
  var tmp = fkpage.setSlideMode(34); 
  fkpage.goToSlide(2);
  var t1 = window.setTimeout("loadData()",3000);
}

    $(document).ready(function(){
      fkpage = $('.myfkpage').FKPageTransitions();
      var tmp = fkpage.setSlideMode(34); 
      fkpage.goToNextSlide(); //下一页
    });
		function upload(){
		    var form = document.getElementById("uploadForm");
		    var file = form["file1"].value.toLowerCase();
		    var url = form["giturl"].value.toLowerCase();
		    if(isNull(file)&&isNull(url)){
		        $("#msg").html("必须上传文件或者填写仓库地址");
		        $("#scanalert").show();
		        return;
		    }
		    if((!isNull(url))&&(!isGiturl(url))){
		        $("#msg").html("仓库地址必须是.git结尾的地址");
		        $("#scanalert").show();
		        return;
		    }
		    if((!isCompressFile(file))&&isNull(url)){
		        $("#msg").html("压缩文件格式必须是zip、bz2或者gz");
		        $("#scanalert").show();
		        return;
		    }
		    $(".progress-bar").addClass("active");
		    var p = parseFloat((1 * 100).toFixed(2))+"%";
		        $(".progress-bar").css("width",p).html("上传检测中");
		    form.submit();
		}
		function test(){
		    $("input[type='file']", document.forms[0]).each(function(index,file){
		        file.value = null;
		    });
		}
		function isNull(x){
		    if (x==null || x=="")
		        return true;
		    return false;
		}
		function isCompressFile(x){
		    var index = x.lastIndexOf(".");
		    if(index<1)
		        return false;
		    var format = x.substring(index+1);
		    if (format!="bz2" && format!="gz" && format!="zip"&& format!="xz")
		        return false;
		    return true;
		}
		function isGiturl(x){
		    var index = x.lastIndexOf(".");
		    if(index<1)
		        return false;
		    var format = x.substring(index+1);
		    if (format!="git")
		        return false;
		    return true;
		}
		function addnew(){
		    var form = document.getElementById("addForm");
		    var name = form["name"].value;
		    var fullname = form["fullname"].value;
		    var owner = form["owner"].value;
		    var ownerurl = form["ownerurl"].value;
		    var atts = $("#atts").val()
		    var textall = form["textall"].value;
		    if(isNull(name)){
		        $("#addmsg").html("请输入许可证名称");
		        $("#addalert").show();
		        return;
		    }
		    if(isNull(fullname)){
		        $("#addmsg").html("请输入许可证全称");
		        $("#addalert").show();
		        return;
		    }
		    if(isNull(owner)){
		        $("#addmsg").html("请输入许可证归属");
		        $("#addalert").show();
		        return;
		    }
		    if(isNull(ownerurl)){
		        $("#addmsg").html("请输入许可证链接");
		        $("#addalert").show();
		        return;
		    }
		    if(isNull(atts)){
		        $("#addmsg").html("请选择许可证属性");
		        $("#addalert").show();
		        return;
		    }
		    if(isNull(textall)){
		        $("#addmsg").html("请输入许可证全文");
		        $("#addalert").show();
		        return;
		    }
                    var formdata = new FormData(document.getElementById("addForm"));
			$.ajax({
				url:"/addlicense",
				type:"post",
				data:formdata,
				processData:false,
				contentType:false,
				success:function(data){
				    loadData();
                                    $('#myModal').modal('hide');
                                    alert(data);
				},
				error:function(e){
				    alert("错误！！");
				}
			});        
		}
</script>
</html>
